@use "../colors/root" as *;

@mixin centering($x) {
    width: $x;
    height: $x;
    line-height: $x;
    text-align: center;
}

@mixin before-border($width) {
    content: "";
    background-color: #{$main-color};
    width: $width;
    height: 1.5px;
    position: absolute;
    bottom: -10px;
    left: 0;
}